.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.form-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 18px;
  font-weight: bold;
}

.form-group input {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #888;
}

.form-group.invalid label {
  color: red;
}

.form-group.invalid input {
  border-color: red;
}