#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
}

h1, h2 {
  margin: 0;
}